.map-intro {
	max-width: 100rem;
}

.mapTitle {
	margin-bottom: 0;
}

.mapSubtitle {
	font-size: 17px !important;
	line-height: 24px !important;
	font-weight: 400 !important;
}

#interactive-container {
	position: relative;

	.map-container {
		position: relative;
	}

	.key-container {
		margin-bottom: 20px;
	}
}


@media only screen and (max-width: 699px) {
	#interactive-container {
		.key-container {
			margin-top: 10px;
		}
		padding-bottom: 20px;
	}
}
