.expand{
font-weight:bold;
font-style:normal;
cursor:pointer;
}
.expand.open{
font-style:italic;
font-weight:normal;
display:none;
}
.expand-content{
display:none;
}
.expand-content.open{
display:block;
margin-top:10px;
}

