$ox-green: #61a534;
$ox-green-compliant: #44841a;
$dark-green: #0c884a;
$orange: #f16e22;
$red: #e70052;
$burgundy: #630235;
$purple: #53297d;
$pink: #e43989;
$blue: #0b9cda;
$blue-dark: #087cae;
$beige: #eaeade;
$beige-dark: #d2cfc0;
$deep-red: #ff1d34;
$grey: #545454;
$dark-grey: #333;
$purple: purple;

$black: #232323;